.container{
    width: 40%;
    border:1 px solid Black;
    background-color: gray;
    border-radius: 10px;
}
.row{
    border: 0px solid green;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.col-md-4{
    border: 1px solid black;
    border-radius: 10px;
}